{% extends 'bootstrap/base.html' %}

{% block title %}Quiz{% endblock %}

{% block styles %}
    {{ super() }}
    <link href='{{ url_for('static', filename='style.css') }}' rel='stylesheet'>
{% endblock %}

{% block navbar %}
<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
        <a class='navbar-brand' href='{{ url_for('index') }}'>Quiz</a>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class='container'>
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block tail %}
    {{ codemirror.include_codemirror() }}
{% endblock %}
